body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#5177f6), to(#b478d7));
  background-image: linear-gradient(to bottom right, #5177f6, #b478d7);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

body.home, body.live {
  margin: 0;
}

body h1 {
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 400;
}

body h2 {
  color: #FFFFFF;
}

body p.error {
  color: red;
  font-size: 1.3rem;
  text-shadow: 1px 1px black;
}

body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body form .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body form .form-wrapper .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body form .form-wrapper .form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body form .form-wrapper .form-item label {
  color: #FFFFFF;
  font-weight: 600;
}

body form select {
  border-radius: 100px;
  border: none;
  -webkit-box-shadow: 3px 3px 10px #505050;
          box-shadow: 3px 3px 10px #505050;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  margin: 20px;
  font-size: 1.3rem;
  color: rgba(100, 100, 100, 0.7);
  height: 50px;
  width: 200px;
  text-indent: 10px;
  width: 300px;
}

body form input {
  border-radius: 100px;
  border: none;
  -webkit-box-shadow: 3px 3px 10px #505050;
          box-shadow: 3px 3px 10px #505050;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  margin: 20px;
  font-size: 1.3rem;
  color: rgba(100, 100, 100, 0.7);
  height: 50px;
  width: 200px;
}

body form input:focus, body form input:hover {
  -webkit-box-shadow: 3px 3px 10px #101010;
          box-shadow: 3px 3px 10px #101010;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

body form input[type=text], body form input[type=password], body form input[type=number], body form input[type=date], body form input[type=tel], body form input[type=email] {
  text-indent: 10px;
  width: 300px;
}

body form input[type=submit] {
  background-color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
  text-align: center;
  width: 150px;
}

body form input[type=submit]:hover {
  background-color: rgba(100, 100, 100, 0.7);
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body a {
  color: #FFFFFF;
  text-decoration: none;
}

body a:hover {
  text-decoration: underline;
}

body button {
  border-radius: 50px;
  border: none;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: #646464;
  font-size: 1.5rem;
  margin: 5px;
  height: 70px;
  width: 200px;
}

body button:hover {
  background-color: #4CAF50;
  /* Green */
  color: white;
  cursor: pointer;
}

body .disconnect {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  font-size: 0.75rem;
  height: 35px;
  width: 100px;
}

body .disconnect:hover {
  background-color: #da0909;
  /* Green */
}

body .details {
  margin: 10px;
  font-size: 0.75rem;
  height: 35px;
  width: 100px;
}

body .details:hover {
  background-color: #008;
  /* Green */
}

body .return {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  font-size: 0.75rem;
  height: 35px;
  width: 100px;
}

body .return:hover {
  background-color: #0975da;
}

body .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  font-size: 3rem;
  color: #FFFFFF;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

body .profile:hover {
  color: #0975da;
}

body .profile-infos {
  width: 60%;
}

body .profile-infos .profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-size: 1.5rem;
  width: 100%;
}

body .profile-infos p {
  color: #505050;
}

body #map {
  width: 100%;
  height: 640px;
  -webkit-box-shadow: 0px 0px 10px 0px #000;
          box-shadow: 0px 0px 10px 0px #000;
}
/*# sourceMappingURL=main.css.map */